- const ss = siteSettings || {};
footer.footer
  .footer__shell
    .footer__cta
      .footer__cta-text
        h3= ss.ctaTitle || 'Sẵn sàng cho hành trình tiếp theo?'
        p= ss.ctaDescription || 'Nhận gợi ý cá nhân hóa và lịch khởi hành phù hợp từ đội chuyên viên hành trình LLK bằng tiếng Việt bất cứ khi nào bạn cần.'
      .footer__cta-action
        a.btn.btn--green(href='/chat') Trò chuyện với chuyên viên LLK
        .footer__cta-support Hotline 24/7: #[span= ss.hotline || '038****234']

    .footer__grid
      .footer__brand
        img(src='/img/logo-blue.png' alt='LLK logo')
        p= ss.brandDescription || 'LLK Tours chuyên tổ chức hành trình mượt mà, trọn cảm xúc với đội ngũ chuyên gia bản địa.'
        .footer__brand-highlights
          span
            i.fas.fa-headset
            | Hỗ trợ trực tiếp 24/7
          span
            i.fas.fa-map-marker-alt
            | #{ss.brandHighlights || 'Hà Nội • TP. HCM • Đà Nẵng'}
        .footer__payment
          span Thanh toán an toàn
          .payment-icons
            i.fab.fa-cc-visa
            i.fab.fa-cc-mastercard
            i.fab.fa-cc-stripe

      .footer__column
        h4 Dịch vụ
        ul
          li: a(href='/tours/domestic') Tour trong nước
          li: a(href='/tours/international') Tour quốc tế
          li: a(href='/flights') Vé máy bay
          li: a(href='/hotels') Khách sạn
          li: a(href='/cars') Thuê xe

      .footer__column
        h4 Trung tâm khách hàng
        ul
          li: a(href='/me') Tài khoản của tôi
          li: a(href='/my-tours') Tour đã đặt
          li: a(href='/my-billing') Hóa đơn thanh toán
          li: a(href='/my-reviews') Đánh giá của tôi
          li: a(href='/chat') Chat trực tuyến với admin

      .footer__column
        h4 Liên hệ & hỗ trợ
        p
          i.fas.fa-map-marker-alt 
          | #{ss.address || 'Khu Công nghệ cao Xa lộ Hà Nội, Hiệp Phú, TP. Thủ Đức, TP. HCM'}
        p
          i.fas.fa-phone 
          | #{ss.phone || '038****234'}
        p
          i.fas.fa-envelope 
          | #{ss.email || 'transysonlam@gmail.com'}

    .footer__bottom
      p.footer__copyright &copy; #{new Date().getFullYear()} LLK Tours. Giấy phép kinh doanh lữ hành quốc tế số: #{ss.businessLicense || '01-001/2020/TCDL-GP LHQT'}
      .footer__bottom-meta
        .footer__social
          a(href=ss.socialFacebook || '#' target='_blank' rel='noreferrer'): i.fab.fa-facebook
          a(href=ss.socialInstagram || '#' target='_blank' rel='noreferrer'): i.fab.fa-instagram
          a(href=ss.socialYoutube || '#' target='_blank' rel='noreferrer'): i.fab.fa-youtube
          a(href=ss.socialTiktok || '#' target='_blank' rel='noreferrer'): i.fab.fa-tiktok
          a(href=ss.socialGithub || '#' target='_blank' rel='noreferrer'): i.fab.fa-github
        p.footer__license= ss.licenseNote || 'Đã đăng ký Bộ Công Thương Việt Nam | Thành viên Hiệp hội Du lịch Việt Nam'
