extends adminLayout

block adminContent
  .llk-admin-topbar
    .llk-admin-topbar__left
      h1.llk-admin-topbar__title Quản lý người dùng
      p.llk-admin-topbar__subtitle Theo dõi trạng thái và vai trò của tài khoản.

  section.llk-admin-panel
    .llk-admin-panel__toolbar
      input.llk-admin-panel__search(type='text', placeholder='Tìm kiếm người dùng...')
      select.llk-admin-panel__filter
        option(value='') Tất cả vai trò
        option(value='admin') Admin
        option(value='lead-guide') Lead Guide
        option(value='guide') Guide
        option(value='user') User
      select.llk-admin-panel__filter
        option(value='') Tất cả trạng thái
        option(value='active') Hoạt động
        option(value='inactive') Không hoạt động

    if users.length === 0
      p.llk-admin-empty Không có người dùng nào.
    else
      .user-management__list
        each user in users
          .user-management__item
            .user-management__info
              img.user-management__img(src=`/img/users/${user.photo}`, alt=`${user.name}`)
              .user-management__details
                h4.user-management__name= user.name
                .user-management__stats
                  span.user-management__email
                    svg
                      use(xlink:href='/img/icons.svg#icon-mail')
                    | #{user.email}
                  span.user-management__role
                    svg
                      use(xlink:href='/img/icons.svg#icon-briefcase')
                    span(class=`user-badge user-badge--${user.role}`)= user.role
                  if user.active === undefined || user.active
                    span.user-management__status.user-management__status--active
                      svg
                        use(xlink:href='/img/icons.svg#icon-check')
                      | Hoạt động
                  else
                    span.user-management__status.user-management__status--inactive
                      svg
                        use(xlink:href='/img/icons.svg#icon-x')
                      | Không hoạt động
            .user-management__actions
              a.btn.btn--small.btn--blue(href=`/admin/users/${user.id}/edit`) Sửa
              if user.active === undefined || user.active
                button.btn.btn--small.btn--red.btn-deactivate-user(data-user-id=`${user.id}`) Khóa ID
              else
                button.btn.btn--small.btn--green.btn-activate-user(data-user-id=`${user.id}`) Kích hoạt

block append scripts
  script(src="/js/userManagement.js", type="module")
