extends base

block content
  main.main
    .user-view
      nav.user-view__menu
        .admin-nav
          h5.admin-nav__heading Quản lý
          ul.side-nav
            li
              a(href='/admin/dashboard')
                svg
                  use(xlink:href='/img/icons.svg#icon-home')
                | Dashboard
            li
              a(href='/admin/tours')
                svg
                  use(xlink:href='/img/icons.svg#icon-map')
                | Quản lý tours
            li
              a(href='/admin/users')
                svg
                  use(xlink:href='/img/icons.svg#icon-user')
                | Quản lý User
            li
              a(href='/admin/bookings')
                svg
                  use(xlink:href='/img/icons.svg#icon-briefcase')
                | Lịch sử đặt tour
            li
              a(href='/admin/reviews')
                svg
                  use(xlink:href='/img/icons.svg#icon-star')
                | Quản lý đánh giá

      .user-view__content
        .user-view__form-container
          .tour-management__header
            h2.heading-secondary Quản lý tour
            a.btn.btn--small.btn--green(href='/admin/tours/new') Tạo tour mới
          
          .count-display Đang hiển thị <strong>#{tours.length}</strong> trên tổng số <strong>#{tours.length}</strong>
          
          .search-filter
            input.search-input(type='text', placeholder='Tìm kiếm tour...')
            select.filter-duration
              option(value='') Tất cả thời gian
              option(value='1-3') 1-3 ngày
              option(value='4-7') 4-7 ngày
              option(value='8+') 8+ ngày
            select.filter-price
              option(value='') Tất cả giá
              option(value='0-3000000') 0-3,000,000 VND
              option(value='3000000-6000000') 3,000,000-6,000,000 VND
              option(value='6000000+') 6,000,000+ VND
            button.btn-toggle-view(type='button') Chuyển chế độ xem
          
          .no-data-message.hidden Không có tour nào phù hợp với tiêu chí tìm kiếm.
          
          .table-container.hidden
            table.table-view
              thead
                tr
                  th Ảnh
                  th Tên
                  th Thời gian
                  th Số người
                  th Giá
                  th Đánh giá
                  th Thao tác
              tbody
                if tours.length === 0
                  tr
                    td(colspan='7') Không có tour nào.
                else
                  each tour in tours
                    tr
                      td
                        img.img-small(src=`/img/tours/${tour.imageCover}`, alt=`${tour.name}`)
                      td= tour.name
                      td #{tour.duration} ngày
                      td #{tour.maxGroupSize} người
                      td #{tour.price.toLocaleString('vi-VN')} VND
                      td #{tour.ratingsAverage} (#{tour.ratingsQuantity})
                      td
                        .table-actions
                          a.btn.btn--small.btn--blue(href=`/admin/tours/${tour.id}/edit`) Sửa
                          a.btn.btn--small.btn--green(href=`/tour/${tour.slug}`, target='_blank') Xem
                          button.btn.btn--small.btn--red.btn-delete-tour(data-tour-id=`${tour.id}`) Xóa
          
          .tour-management__list
            if tours.length === 0
              p.tour-management__empty Không có tour nào.
            else
              each tour in tours
                .tour-management__item
                  .tour-management__info
                    img.tour-management__img(src=`/img/tours/${tour.imageCover}`, alt=`${tour.name}`)
                    .tour-management__details
                      h4.tour-management__name= tour.name
                      .tour-management__stats
                        span.tour-management__duration
                          svg
                            use(xlink:href='/img/icons.svg#icon-clock')
                          | #{tour.duration} ngày
                        span.tour-management__group-size
                          svg
                            use(xlink:href='/img/icons.svg#icon-user')
                          | #{tour.maxGroupSize} người
                        span.tour-management__price
                          svg
                            use(xlink:href='/img/icons.svg#icon-dollar-sign')
                          | #{tour.price.toLocaleString('vi-VN')} VND
                        span.tour-management__rating
                          svg
                            use(xlink:href='/img/icons.svg#icon-star')
                          | #{tour.ratingsAverage} (#{tour.ratingsQuantity})
                  .tour-management__actions
                    a.btn.btn--small.btn--blue(href=`/admin/tours/${tour.id}/edit`) Sửa
                    a.btn.btn--small.btn--green(href=`/tour/${tour.slug}`, target='_blank') Xem
                    button.btn.btn--small.btn--red.btn-delete-tour(data-tour-id=`${tour.id}`) Xóa
