extends adminLayout

block adminContent
  .llk-admin-topbar
    .llk-admin-topbar__left
      h1.llk-admin-topbar__title Lịch sử đặt tour
      p.llk-admin-topbar__subtitle Theo dõi thanh toán và trạng thái vé.

  section.llk-admin-panel
    .llk-admin-panel__toolbar
      input.llk-admin-panel__search(type='text', placeholder='Tìm kiếm đặt tour...')
      select.llk-admin-panel__filter
        option(value='') Tất cả trạng thái
        option(value='paid') Đã thanh toán
        option(value='unpaid') Chưa thanh toán

    if bookings.length === 0
      p.llk-admin-empty Không có đặt tour nào.
    else
      .booking-management__list
        each booking in bookings
          .booking-management__item
            .booking-management__info
              h4.booking-management__tour= booking.tour.name
              span.booking-management__id Mã đặt tour: ##{booking.id.slice(-8).toUpperCase()}
              .booking-management__user
                img.booking-management__user-img(src=`/img/users/${booking.user.photo}`, alt=`${booking.user.name}`)
                span.booking-management__user-name= booking.user.name
              .booking-management__details
                span.booking-management__participants
                  svg
                    use(xlink:href='/img/icons.svg#icon-user')
                  | #{booking.participants || 1} người
                span.booking-management__price
                  svg
                    use(xlink:href='/img/icons.svg#icon-dollar-sign')
                  | #{booking.price.toLocaleString('vi-VN')} VND
                span.booking-management__date
                  svg
                    use(xlink:href='/img/icons.svg#icon-calendar')
                  | #{new Date(booking.createdAt).toLocaleDateString('vi-VN')}
                span(class=`booking-management__status booking-management__status--${booking.paid ? 'paid' : 'unpaid'}`)
                  svg
                    use(xlink:href=`/img/icons.svg#icon-${booking.paid ? 'check' : 'x'}`)
                  | #{booking.paid ? 'Đã thanh toán' : 'Chưa thanh toán'}
            .booking-management__actions
              a.btn.btn--small.btn--blue(href=`/admin/bookings/${booking.id}`) Chi tiết
              if booking.paid
                button.btn.btn--small.btn--orange.btn-toggle-payment(data-booking-id=`${booking.id}`, data-paid="true") Đổi trạng thái
              else
                button.btn.btn--small.btn--green.btn-toggle-payment(data-booking-id=`${booking.id}`, data-paid="false") Đánh dấu thanh toán
              button.btn.btn--small.btn--red.btn-delete-booking(data-booking-id=`${booking.id}`) Xóa

block append scripts
  script(src="/js/bookingManagement.js", type="module")
