extends base

block content
  section.banner
    .overlay
      .heading-container
        h1.heading-text HƠN 500+ TOUR TRONG NƯỚC KHÁM PHÁ NGAY!
      .search-container
        form.search-form(action="/search", method="GET")
          .form-group.main-search
            input#searchInput.form-input(
              type="text",
              name="name",
              placeholder="Bạn muốn đi đâu?",
              value=searchParams ? searchParams.name : ''
            )
          .form-group-row
            .form-group
              input.form-input(
                type="date",
                name="startDates",
                value=searchParams ? searchParams.startDates : ''
              )
            button.btn.btn--timkim(type="submit") Tìm kiếm

  main.main
    if noResults
      .no-results
        h2.heading-secondary Không có tour nào phù hợp với mong muốn của bạn
        p Vui lòng thử lại với các tiêu chí tìm kiếm khác
    else
      .card-container
        each tour in tours
          - const nextDateObj = tour.startDates.filter(d => new Date(d.date || d) > new Date() && (d.availableSlots > 0 || d.availableSlots === undefined)).sort((a, b) => new Date(a.date || a) - new Date(b.date || b))[0]
          - const dateDisplay = nextDateObj ? new Date(nextDateObj.date || nextDateObj).toLocaleDateString('vi-VN', { day: 'numeric', month: 'long', year: 'numeric' }) : 'Trống lịch'
          - const availableSlots = nextDateObj ? (nextDateObj.availableSlots !== undefined ? nextDateObj.availableSlots : tour.maxGroupSize) : 0
          - const slotsText = `Còn ${availableSlots}/${tour.maxGroupSize} chỗ`
          - const canBook = availableSlots > 0
          - const contactMessage = `Tôi muốn hỏi về Tour ${tour.name}`
          - const contactHref = `/chat?prefill=${encodeURIComponent(contactMessage)}`
          - const isUser = user && user.role === 'user'
          - const primaryHref = canBook ? (isUser ? `/book-tour/${tour._id}` : '/login') : (isUser ? contactHref : '/login')
          .card(class={ 'card--sold-out': !canBook })
            a.card__overlay-link(
              href=`/tour/${tour.slug}`
              aria-label=`Xem chi tiết tour ${tour.name}`
            )
            if !canBook
              img.card__sold-out-note(src='/img/soldout.png', alt='Tour đã hết chỗ')
            .card__header
              .card__picture
                img.card__picture-img(src=`/img/tours/${tour.imageCover}`, alt=`${tour.name}`)
              h3.heading-tertirary
                span= tour.name

            .card__details
              h4.card__sub-heading= `Tổng thời gian: ${tour.duration}-ngày`
              p.card__text= tour.summary
              .card__data
                svg.card__icon
                  use(xlink:href='/img/icons.svg#icon-map-pin')
                span= tour.startLocation.description
              .card__data
                svg.card__icon
                  use(xlink:href='/img/icons.svg#icon-calendar')
                span= dateDisplay
              .card__data
                svg.card__icon
                  use(xlink:href='/img/icons.svg#icon-flag')
                span= `${tour.locations.length} điểm tham quan`
              .card__data
                svg.card__icon
                  use(xlink:href='/img/icons.svg#icon-user')
                span= slotsText

            .card__footer
              .card__footer-info
                .card__price
                  span.card__footer-label Giá từ
                  span.card__footer-value= `${tour.price.toLocaleString('vi-VN')}`
                  span.card__footer-text VNĐ/khách
                .card__rating
                  span.card__footer-label Đánh giá
                  span.card__footer-value= tour.ratingsAverage
                  span.card__footer-text= `/5⭐(${tour.ratingsQuantity})`
              .card__actions
                if canBook
                  a.btn.btn--green.btn--small(href=primaryHref) ĐẶT TOUR
                else
                  a.btn.btn--contact.btn--small(href=primaryHref)
                    i.fa-solid.fa-phone
                    span Liên hệ
